@font-face {
  
  src: url(font/Outfit-VariableFont_wght.ttf);
  font-family: outfit;
}
body{
  background-color:  hsl(218, 56%, 81%);
}

#white{
  height:450px;
  width: 275px;

  background-color: white;
  border-radius: 20px;
  position: relative;
  top: 130px;
  margin: auto;
  align-items:center;
  justify-content: center;
  display: flex;
  flex-direction: column;

  
  


}
#img{
  height:240px;
  width: 250px;
  
  /* position: relative;
  top: 25px; */
  border-radius: 20px;
  margin-bottom: 0px;
}
#text{
  text-align: center;
  border: 2px ;
 
  padding: 10px;
  
  
}